*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url('https://images.pexels.com/photos/1933316/pexels-photo-1933316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
    height: 100vh;
    padding: 50px 5%;
}
.container{
    position: relative;
    height: 100%;
    background-color:rgb(0, 0, 0);
    border-radius: 30px;
    border: 2px solid #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
}
.navbar a:hover,
.navbar .active{
    border-color: #fff;
}

/* home section */
.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}
.home-details h1{
    font-size: 55px;
    line-height: 1;
    
}
.home-details h2{
    font-size: 32px;
    
}
.home-details p{
   margin: 10px 0 20px;
}
.home-details .download-social{
    display: flex;
    gap: 20px;
    
}
.btn{
    padding: 10px 30px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0 0 10px #fff;
    font-weight: 550;
    transition: 0.4s;
    
}
.btn:hover{
    background-color: transparent;
    color: #fff;
    box-shadow: none ;
}

.home-details .social-icons{
    display: flex;
    gap: 10px;
}
.home-details .social-icons a{
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.4s;
    margin: 0 8px;
}
.home-details .social-icons a:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px #fff;
  
}
